* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

header {
  background-image: linear-gradient(90deg, rgb(29, 91, 226), rgb(65, 19, 95));
}

h1 {
  color: white;
}